*{
    margin: 0px;
    padding: 0px;
}
h1{
    color:#0d0630;
}
body{
    background-color: #95aba6;
    text-align: center;
}
#container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 1.5vmin;
}
.box{
    height: 18vmin;
    width: 18vmin;
    background-color: #d6d5c9;
    border: none;
    border-radius: 7%;
    box-shadow: 0 0 1rem rgba( 255, 255 , 255 , 0.2);
    font-size: 10vmin;
    color:#0d0630;
}
#resetbtn{
    height: 7vh;
    width: 8vw;
    background-color: #6b6d76;
    color: #0d0630;
    border-radius: 7%;
    box-shadow: 0 0 1rem rgba( 255, 255 , 255 , 0.2);
}
.msgbox{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1.5rem;
    gap: 10vh;
}
#msg{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    width: 30vw;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #6b6d76;
    color: #0d0630;
    /* box-shadow: 0 0 1rem rgba( 255, 255 , 255 , 0.2); */
}
#newgame{
    height: 7vh;
    width: 15vw;
    border-radius: 5px;
    background-color: #6b6d76;
    color: yellow;
    font-size: 80%;
}
.hide{
    display: none;
}
